.video {
  display: flex;
  justify-content: space-evenly;
  height: 30em;
}

.info {
  height: 100%;
  width: 40%;
  overflow: clip;
}

.linksList {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.link {
  text-decoration: none;
  color: white;
  padding: 1em 2em;
  display: block;
}

.link:hover {
  cursor: pointer;
}

.courseLink {
  background: linear-gradient(83deg, rgb(58 13 188), rgb(188, 14, 158));
}

.frame {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.frame > iframe {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  height: 80%;
}

/* This is for tablets */
@media only screen and (max-width: 1000px) {
  .video {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 1em;
  }

  .info {
    width: 90%;
  }

  .frame {
    height: 30em;
    width: 90%;
  }
}
