.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background-color: "#f8fafc";
  height: 100vh;
  text-align: center;
  font-family: monospace;
}

@media only screen and (max-width: 1000px) {
  .intro {
    font-size: 2em;
  }
}

/* This is for phones */
@media only screen and (max-width: 500px) {
  .intro {
    font-size: 1em;
  }
}
